
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --box-shadow :  0 0 20px 10px #f3f3f3;
    --card-color : #fff;
    --green-container : #28A745;
    --icon-dark : #1E2732;
    --icon-light : #000;
    --icon-primary : #424957;
    --icon-sidebar : #606A79;
    --icon-wrapper-light: #E7EBF0;
    --icon-wrapperDark :#606872;
    --light-color : #9FA0B5;
    --primary-color :#000000;
    --red-container : #FF3D3D;
    --secondary-color : #888E98;
    --sidebar-light : #0D1216;
    --wrapper-text : #9192A8;
    --border-bottom: 1px solid #E7EBF0;

}

.darkMode{
    --bg-color :#131415;
    --box-shadow : none;
    --card-color : #282A2D;
    --icon-dark : #fff;
    --icon-light : #fff;
    --icon-primary : #fff;
    --icon-wrapper-light : #DD4D84;
    --icon-wrapperDark : #282A2D;
    --light-color : #fff;
    --primary-color : #fff;
    --secondary-color : #585A5B;
    --wrapper-text : #fff;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

h1,h2,h3{
    color: var(--primary-color);
}

h1{
    font-size:2.986rem;
}

h2{
    font-size: 2.488rem;
}

h3{
    font-size: 2rem;
}

/*MEDIA QUERIES FOR TYPOGRAPHY*/

/*EXTRA SMALL DEVICES*/
@media screen and (max-width:576px){
    h3{
        font-size: 1.4rem;
    }
}

.increment{
    color: var(--green-container);
}

.decrement {
    color: var(--red-container);
}

/*CONTAINERS*/
.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: var(--wrapper-text);
}

.greenContainer{
background-color: var(--green-container);
}

.redcontainer{
    background-color: var(--red-container);
}
.light-container{
  background-color: var(--icon-wrapper-light) ;
}


/*ICONS*/

.icon{
    width: 25px;
    height: 25px;
    fill: var(--icon-light);
}

@media screen and (max-width:576px){

    .icon{
        width: 17px;
        height: 17px;
    }
}


.iconWrapper{
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
padding: 1.5rem;
}

.iconWrapper--dark{
    background-color: var(--icon-wrapperDark);
}

.iconWrapper--light{
    background-color: var(--icon-wrapper-light);S
}

/*CARDS*/

.card{
    border: 3px solid var(--icon-wrapper-light);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
    background-color: var(--card-color);
}

.card--small{
    display: flex;
    justify-content: space-between;
}

.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1.05);
}


.darkMode .card:hover {
    background-color: #3C426B;
}

.heading{
    margin-bottom: 20px;
    margin-top: 10px;
    text-wrap: nowrap;
}

@media screen and (max-width:576px){
    .heading{
        margin-bottom: 10px;
    }
}

.details{
    display: flex;
    justify-content: flex-start;
   
}

.time-details{
    margin: 5px 0 21px 0;
   
}

#unit-of-time{
    margin-right: 60px; 
    margin-left: 0;   
    margin-bottom: 5px;
    font-weight: 500;
    
}



#no-of-openTasks, .no-of-closedTasks{
    margin-top: 0;
   

}


.miniCard--i .icon{
    width: 40px;
}
@media screen and (max-width:576px){
    .miniCard--ii .icon{
        width: 30px;
        height: 30px;
    }
}

.miniCard--ii .icon{
    width: 50px;
    height: 50px;
}

.miniCard--ii{
    display: flex;
    align-items: center;
}


.miniCard--ii .iconWrapper{
    border-radius: 10px;
}


.inline-container{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.inline-container p{
    font-size: 1.5rem;
}

.arrow--up{
    width: 10px;
    height: 10px;
    font-weight: bold;
    fill: var(--green-container);
    margin-bottom: 17px;
}


#taskPercentage, #closed-taskPercentage{
    color: var(--green-container);
    margin-top: 0;
    margin-bottom: 17px;
   
}


.time-container{
    margin-right: 30px;
}


.miniCard--ii .close{
    width: 40px;
}


/*MEDIUM CARDS*/

.headingcontainer{
    display: flex;
    border-bottom: var(--border-bottom);
}
.headingcontainer .inline-container{
    margin-left: 60px;
}
.headingcontainer .heading{
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 20px;
}
.inline-container .circleicon{
    margin: 20px 5px 20px 30px;
    width: 15px;
}

.starbucks, .photoshop, .project-icon{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}
.photoshop{
    border: 2px solid #3FC3FF;

    border-radius: 50px;
}
.project-icon{
    border-radius: 50%;
}

.xd{
    border: 3px solid #E843D8;
}
.card--medium{
    display: flex;
    flex-direction: column;
}

.to-do-detail{
    display: flex;
}
.to-do-subject, .ongoing-task-subject{
    font-weight: 600;
    margin-bottom: 0;
}
.to-do-date .ongoing-task-date{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}

.progress-bar{
    height: 3px;
    border-radius: 25px;
    margin: 10px 0 0 7px;
}
.green-progressBar{
    background-color: var(--green-container);
}
.red-progressBar{
    background-color: var(--red-container);
}
.to-do-progressbar{
width: 40%;
}
.taskprogressbar{
    width: 15%;
}


.progresspercentage{
    display: flex;
    justify-content: space-between;
}

.tag{
    margin-left: 7px;
}

.to-do-percentage{
    margin-right: 20px;
}

/*AVATARS*/
.avatarcontainer{
margin-left: 7px;
position: relative;
}
.pfp{
    width: 30px;
}
.avatar--ii{
 position: absolute;
 left: 8px;

}

.avatar--iii{
    position: absolute;
    left: 20px;
}

.avatar--iv{
    position: absolute;
    left: 27px;
}

.avatarcontainer .circleicon{
    margin-left: 40px;
}

/*PROJECT CARDS*/

.heading-container{
    display: flex;
}
.heading-container .inline-container{
    margin-left: 210px;
}
.heading-container .icon{
    width: 15px;
    margin-right: 7px;
}

.web-application-progressbar{
    width: 50%;

}

.Logo-design-progressbar{
    width: 20%;
    background-color: var(--green-container);
}
.web-application-progresspercentage{
    display: flex;
}

.web-application-progresspercentage .web-application-progressbar{
    margin: 24px 0 0 15px;
}

.web-application-progresspercentage .Logo-design-progressbar{
    margin: 24px 0 0 15px;
}


.web-application-progresspercentage .web-application-percentage{
    margin-left: auto;
    margin-right: 15px;
}

.project-status{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-status .lightcontainer{
    color: var(--light-color);
}
.project--name{
    margin-bottom: 10px;
    margin-left: 7px;
}
.update--date{
    margin-top: 0;
    margin-left: 7px;
}

.profilephoto{
    width: 20px;
}

.project-status{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.avatar--container{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;


}

    .pfp--ii{
        position: absolute;
        left: 7px;
    }

    .pfp--iii{
        position: absolute;
        left: 15px;
    }
    .pfp--iv{
        position: absolute;
        left: 25px;
    }


    .dateElement{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .dateElement p{
        font-weight: 600;
        font-size: 1.7rem;
    }

    /*RECENT PROJECT CARDS */

    .heading-Container{
        display: flex;
        justify-content: space-between;
    }

    .heading-Container h3{
        flex: 1;
    }
    .heading-Container .icon{
        margin-top: 17px;
    }

    .spotify{
        width: 50px;
        height: 50px;
        margin-top: 16px;
    }

    .project-detailsContainer{
        display: flex;
        margin-top: 10px;
    }
    .project-details{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .project-detailsContainer .wrapper{
        height: 30px;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 25px;
    }

    .company-name{
        margin-bottom: 15px;
        margin-top: 0;
        font-weight: 600;
        opacity: 0.5;
    }

    .project-name{
        margin-top: 0;
        margin-bottom: 2px;
        font-weight: 600;
    }

    .company-slogan{
        margin-top: 0;
        font-weight: 500;
        opacity: 0.7;
    }


    /*RECENT PROJECTS CARD*/

    .card-header{
        display: flex;
        justify-content: space-between;
        border-bottom: var(--border-bottom);
    }
    
    .card-header > div:nth-child(2){
        margin-left: 40px;
    }
    .card-header .icon{
        margin-top: 20px;
     
    }

    .card-content{
        display: flex;
        justify-content: space-between;
        border-bottom: var(--border-bottom);
    }

    .project-info{
        display: flex;
        flex: 1;
    }
    
    .project-info .xd{
        margin-bottom: 5px;
    }
    .content-projectName{
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 25px;
        margin-left: 7px;
    }
    .content-avatarContainer{
        display: flex;
        margin-left: 30px;
    }
    .content-avatarInfo{
        margin-left: 15px;
        position: relative;
        margin-top: 25px;
    }
    .content-avatarInfo .pfp--ii{
        position: absolute;
        left: 7px;
    }
    
    .content-avatarInfo .pfp--iii{
        position: absolute;
        left: 15px;
    }
    
    .content-avatarInfo .pfp--iv{
        position: absolute;
        left: 22px;
    }

    .content-avatarContainer .circleicon{
        margin-left: 30px;
        margin-top: 25px;
        width: 20px;
        height: 20px;
    }
    .deadline-status{
        display: flex;
    }

    .deadline-status .wrapper{
        height: 30px;
        margin-top: 20px;
        margin-left: 40px;

    }
    .deadline-status .icon{
        margin-top: 20px;
        margin-left: 10px;
    }
    

    /*SIDE-BAR*/

    .companyLogo{
        width: 45px;
        height: 45px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .side-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--sidebar-light);
        border-top-left-radius: 15px;
        height: 100vh;
        
    }
    .side-bar .icon{
        width: 25px;
        height: 25px;
        fill: var(--icon-sidebar);

    }
    .icon{
        width: 30px;
        height: 30px;
    }
    
    .side-barContainer--i{
        text-align: center;
        flex: 1;
        padding: 0.7rem 1rem;
        flex-shrink: 1;
    }
    .side-barContainer--i .icon{
        margin-bottom: 35px;
    }
    .side-barContainer--ii{
        border-top: 1px solid #1E2327;
        padding: 0.7rem 1rem;
        flex-shrink: 1;
    }
    .side-barContainer--ii .icon{
       margin-bottom: 15px;
       margin-top: 15px;
       flex-shrink: 1;
    }

    .log-outContainer{
        background-color: #FF3333;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        padding: 0.5rem 1rem;
        flex-shrink: 1;
    }

    .log-outContainer .icon{
        fill: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .mini--container{
        display: flex;
        justify-content: center;
        flex-shrink: 1;
    }

    /*TOP BAR*/

    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-bar  img{
        width: 45px;
        height: 35px;
    }

    .searchField{
        border: none;
        outline: none;
        margin-left: 10px;
        flex: 1;
        min-width: 0;
       
    }

    .top-bar-container-i{
        display: flex;
        align-items: center;
        flex: 1;
    }
    .top-bar-container-i .icon{
        margin-right: 15px;
    }
    .top-bar-container-ii{
        display: flex;
        align-items: center;
       
    }



    /*TABLE*/

.T-header{
    display: flex;
    justify-content: flex-end;
}

 th, td{
    padding: 1.5rem;
}



   