
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --box-shadow :  0 0 20px 10px #f3f3f3;
    --card-color : #fff;
    --green-container : #28A745;
    --icon-dark : #1E2732;
    --icon-light : #000;
    --icon-primary : #000;
    --icon-sidebar : #606A79;
    --icon-wrapper-light: #E7EBF0;
    --icon-wrapperDark :#606872;
    --light-color : #9FA0B5;
    --primary-color :#000000;
    --red-container : #FF3D3D;
    --secondary-color : #888E98;
    --sidebar-light : #0D1216;
    --wrapper-text : #9192A8;
    --border-bottom: 1px solid #E7EBF0;
    --top-bar :#fff;
    --icon-small-card : #000;
    --light-container: #eaeaf8;

}

.darkMode{
    --bg-color : #090d19;
    --box-shadow : none;
    --card-color : #161c2c;
    --icon-dark : #fff;
    --icon-light : #000;
    --icon-primary : #fff;
    --icon-sidebar : #fff;
    --icon-wrapper-light : #DD4D8;
    --icon-wrapperDark : #282A2D;
    --light-color : #fff;
    --primary-color : #fff;
    --secondary-color : #585A5B;
    --sidebar-light : #161c2c;
    --wrapper-text : #9192ab;
    --border-bottom : none;
    --top-bar : #fff;
    --yellow-card : #fdba16;
    --blue-card : #53a4df;
    --green-card : #88c176;
    --brown-card : #bc8a5e;
    --icon-small-card : #000;


}
.darkMode .headingContainer{
    border-bottom: none;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
    width: 100%;
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
    color: var(--primary-color);
    height: auto;
    margin: 0;
    width: 100%;
}

h1,h2,h3{
    color: var(--primary-color);
}

h1{
    font-size:2.986rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 2rem;
}

/*MEDIA QUERIES FOR TYPOGRAPHY*/

/*EXTRA SMALL DEVICES*/
@media screen and (max-width:576px){
    h3{
        font-size: 1.2rsem;
    }
}

.increment{
    color: var(--green-container);
}

.decrement {
    color: var(--red-container);
}

/*CONTAINERS*/
.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: var(--wrapper-text);
}
@media screen  and (max-width:   767px){
    .wrapper{
        padding: 0.2rem 0.5rem;
    }
    
}
.greenContainer{
background-color: var(--green-container);
}

.redContainer{
    background-color: var(--red-container);
}
.light-container{
  background-color:var(--light-container);
}


/*ICONS*/

.icon{
    width: 25px;
    height: 25px;
    fill: var(--icon-light);
}

@media screen and (max-width:576px){

    .icon{
        width: 17px;
        height: 17px;
    }
}


.iconWrapper{
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
padding: 1.5rem;
}

.iconWrapper--dark{
    background-color: var(--icon-wrapperDark);
}

.iconWrapper--light{
    background-color: var(--icon-wrapper-light);
}

/*CARDS*/

.card{
    border: 3px solid var(--icon-wrapper-light);
    border-radius: 15px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
    background-color: var(--card-color);
    max-width: 100%;
}

.card--medium{
    display: flex;
    flex-direction: column;
}
.card--medium .light-container{

}
.card .icon{
    fill: var(--icon-primary);
}
.card--small{
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
}

.card--small .icon{
 fill: var(--icon-small-card);
}

.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1);
}

@media screen and (max-width:768px){
    .card:hover{
        transform: scale(1.01);
    }
}

.darkMode .card:hover {
    background-color: none;
    transform: scale(1);
}


.yellow-card{
    background-color: var(--yellow-card);
}

.blue-card{
    background-color: var(--blue-card);
}

.green-card{
    background-color: var(--green-card);
}

.brown-card{
    background-color: var(--brown-card);
}
.heading{
    margin-bottom: 20px;
    margin-top: 10px;
    text-wrap: nowrap;
}

@media screen and (max-width:576px){
    .heading{
        margin-bottom: 10px;
    }
}

.details{
    display: flex;
    justify-content: flex-start;
   
}

.time-details{
    margin: 5px 0 21px 0;
   
}

#unit-of-time{
    margin: 7px 0 25px 5px;
    font-weight: 500;
    
}



#no-of-openTasks, .no-of-closedTasks{
    margin-top: 0;
   

}


.miniCard--i .icon{
    width: 20px;
}



.miniCard--i .heading{    
    margin-bottom: 20px;
    margin-top: 10px;
    text-wrap: nowrap;
}


.miniCard--ii .icon{
    width: 40px;
    height: 40px;
}

.miniCard--ii{
    display: flex;
    align-items: center;
}


.miniCard--ii .iconWrapper{
    border-radius: 10px;
}


.inline-container{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.miniCard--i .inline-container{
    margin-right: 0;
    margin-left: 10px;
}

.inline-container p{
    font-size: 1.5rem;
}

.arrow--up{
    width: 12px;
    height: 12px;
    font-weight: bold;
    fill: var(--green-container);
    margin-bottom: 17px;
}


#taskPercentage, #closed-taskPercentage{
    color: var(--green-container);
    margin-top: 0;
    margin-bottom: 17px;
    margin-left: 7px;
    font-weight: 700;
   
}


.time-container{
    margin-right: 30px;
}


.miniCard--ii .close{
    width: 30px;
}



@media screen and (max-width:576px){
    .miniCard--ii .icon{
        width: 30px;
        height: 30px;
    }
}

/*MEDIUM CARDS*/

.headingContainer{
    display: flex;
    border-bottom: var(--border-bottom);
}
.headingContainer .inline-container{
    margin-left: 60px;
}
.headingContainer .heading{
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 20px;
    flex: 1;
}
.inline-container .circleIcon{
    margin: 20px 5px 20px 30px;
    width: 15px;
}

.starbucks, .photoShop, .project-icon{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}
.photoShop{
    border: 2px solid #3FC3FF;

    border-radius: 50px;
}
.project-icon{
    border-radius: 50%;
}

.xd{
    border: 3px solid #E843D8;
}


.to-do-detail{
    display: flex;
}
.to-do-subject, .ongoing-task-subject{
    font-weight: 600;
    margin-bottom: 0;
}
.to-do-date .ongoing-task-date{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}

.progress-bar{
    height: 3px;
    border-radius: 25px;
    margin: 10px 0 0 7px;
}
.green-progressBar{
    background-color: var(--green-container);
}
.red-progressBar{
    background-color: var(--red-container);
}
.to-do-progressbar{
width: 40%;
}
.taskprogressbar{
    width: 15%;
}


.progress-percentage{
    display: flex;
    justify-content: space-between;
}

.tag{
    margin-left: 7px;
}

.to-do-percentage{
    margin-right: 20px;
}


@media screen and (max-width: 767px){
    .inline-container p {
        text-wrap: nowrap;
    }

    .headingContainer .heading{
        margin-top: 25px;
        font-size: 2rem;
        margin-right: 15px;

    }
}

/*AVATARS*/
.avatarContainer{
margin-left: 7px;
position: relative;
}

.pfp{
    width: 30px;
    position: absolute;
}
.avatar--ii{
 position: absolute;
 left: 8px;

}

.avatar--iii{
    position: absolute;
    left: 20px;
}

.avatar--iv{
    position: absolute;
    left: 27px;
}

.avatarContainer .circleIcon{
   margin-left:60px;
}

@media screen and (max-width:767px){

     .pfp{
        width: 20px;
     }

     .avatarContainer .circleIcon{
        width: 20px;
        height: 20px;
     }
}

/*PROJECT CARDS*/

.heading-container{
    display: flex;
}
.web-application-heading-container, .logo-design-heading-container {
    flex: 1;
}

.heading-container .icon{
    width: 15px;
    margin-right: 7px;
}

.web-application-progressbar{
    width: 50%;

}

.Logo-design-progressbar{
    width: 20%;
    background-color: var(--green-container);
}
.web-application-progresspercentage{
    display: flex;
}

.web-application-progresspercentage .web-application-progressbar{
    margin: 24px 0 0 15px;
}

.web-application-progresspercentage .Logo-design-progressbar{
    margin: 24px 0 0 15px;
}


.web-application-progresspercentage .web-application-percentage{
    margin-left: auto;
    margin-right: 15px;
}

.project-status{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-status .light-container{
    color: #87889F;
}

.project-status .redContainer,
.project-status .greenContainer{
    color: #fff;
}
.project--name{
    margin-bottom: 10px;
    margin-left: 7px;
}
.update--date{
    margin-top: 0;
    margin-left: 7px;
}

.profilephoto{
    width: 20px;
}

.project-status{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.avatar--container{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;


}

    .pfp--ii{
        position: absolute;
        left: 7px;
    }

    .pfp--iii{
        position: absolute;
        left: 15px;
    }
    .pfp--iv{
        position: absolute;
        left: 25px;
    }


    .dateElement{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .dateElement p{
        font-weight: 600;
        font-size: 1.7rem;
    }

    @media screen and (max-width: 767px){
        .project-status .avatar--container{
            margin-left: 0;
        }

        
    }

    /*RECENT PROJECT CARDS */

    .heading-Container{
        display: flex;
        justify-content: space-between;
    }

    .heading-Container h3{
        flex: 1;
    }
    .heading-Container .icon{
        margin-top: 17px;
    }

    .spotify{
        width: 50px;
        height: 50px;
        margin-top: 16px;
    }

    .project-detailsContainer{
        display: flex;
        margin-top: 40px;
    }

    .project-details{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        flex: 1;
    }

    .project-detailsContainer .wrapper{
        height: 30px;
        margin-top: 30px;
        margin-bottom: 0;
        margin-left: 25px;
    }

    .project-detailsContainer .details{
        text-wrap: nowrap;
    }
    .company-name{
        margin-bottom: 15px;
        margin-top: 0;
        font-weight: 600;
        opacity: 0.5;
    }

    .project-name{
        margin-top: 0;
        margin-bottom: 2px;
        font-weight: 600;
    }

    .company-slogan{
        margin-top: 0;
        font-weight: 500;
        opacity: 0.7;
    }
    /* .project-detailsContainer .line-br{
        display: ;
    } */

    @media screen and (max-width:767px){
        .project-detailsContainer .deadline{
            display: none;
        }
    }


    @media screen and (max-width:581px){
        .project-detailsContainer .line-br{
            display: 
        }
    }


    /*active PROJECTS CARD*/

    .card-header{
        display: flex;
        justify-content: space-between;
        border-bottom: var(--border-bottom);
    }
    
    .card-header > div:nth-child(2){
        margin-left: 40px;
    }
    .card-header .icon{
        margin-top: 20px;
     
    }

    .card-content{
        display: flex;
        justify-content: space-between;
        border-bottom: var(--border-bottom);
    }

    .project-info{
        display: flex;
        flex: 1;
    }
    
    .project-info .xd{
        margin-bottom: 5px;
    }
    .content-projectName{
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 25px;
        margin-left: 7px;
    }
    .content-avatarContainer{
        display: flex;
        margin-left: 30px;
    }
    .content-avatarInfo{
        margin-left: 15px;
        position: relative;
        margin-top: 25px;
    }
    .content-avatarInfo .pfp--ii{
        position: absolute;
        left: 7px;
    }
    
    .content-avatarInfo .pfp--iii{
        position: absolute;
        left: 15px;
    }
    
    .content-avatarInfo .pfp--iv{
        position: absolute;
        left: 22px;
    }

    .content-avatarContainer .circleicon{
        margin-left: 30px;
        margin-top: 25px;
        width: 20px;
        height: 20px;
    }
    .deadline-status{
        display: flex;
    }
    .deadline-status span{
        text-wrap: nowrap;
    }

    .deadline-status .wrapper{
        height: 30px;
        margin-top: 20px;
        margin-left: 40px;

    }
    .deadline-status .icon{
        margin-top: 20px;
        margin-left: 10px;
    }
    

    /*SIDE-BAR*/

    .companyLogo{
        width: 45px;
        height: 45px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .side-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--sidebar-light);
        height: 100%;
        
    }
    .side-bar .icon{
        width: 25px;
        height: 25px;
        fill: var(--icon-sidebar);

    }
    .icon{
        width: 30px;
        height: 30px;
    }
    
    .side-barContainer--i{
        text-align: center;
        flex: 1;
        padding: 0.7rem 1rem;
        flex-shrink: 1;
    }
    .side-barContainer--i .icon{
        margin-bottom: 35px;
    }
    .side-barContainer--ii{
        border-top: 1px solid #1E2327;
        padding: 0.7rem 1rem;
        flex-shrink: 1;
    }
    .side-barContainer--ii .icon{
       margin-bottom: 15px;
       margin-top: 15px;
       flex-shrink: 1;
    }

    .log-outContainer{
        background-color: #FF3333;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        padding: 0.5rem 1rem;
        flex-shrink: 1;
    }

    .log-outContainer .icon{
        fill: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .mini--container{
        display: flex;
        justify-content: center;
        flex-shrink: 1;
    }

    /*TOP BAR*/

    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--top-bar);
        width: 100%;
        padding: 2rem;
        border-radius: 7px;
        margin-top: 10px;
    }



    .top-bar  img{
        width: 40px;
        height: 30px;
    }
    .top-bar .icon{
        width: 30px;
        height: 30px;
    }

    .searchField{
        border: none;
        outline: none;
        margin-left: 10px;
        flex: 1;
        min-width: 0;
       
    }

    .top-bar-container-i{
        display: flex;
        align-items: center;
        flex: 1;
    }

    .top-bar-container-i input::placeholder{
        font-size: 1.7rem;
    }
    .top-bar-container-i .icon{
        margin-right: 15px;
    }

.top-bar-container-ii{
    display: flex;
    align-items: center;
   
}
      
    
    .top-bar-container-ii .icon{
        margin-right: 30px;
        margin-left: 0;

    }

    .top-bar-container-ii #sun-icon{
        margin-right: 0;
        margin-left: 30px;
    }

    @media screen and (max-width: 767px){
        .top-bar  img{
            width: 30px;
            height: 20px;
        }
        .top-bar .icon{
            width: 20px;
            height: 20px;
        }
        .top-bar-container-i input::placeholder{
            font-size: 1.2rem;
        }

        .top-bar-container-ii .icon{
            margin-right: 10px;
        }
    }



    /*TABLE*/

.T-header{
display: flex;
justify-content: flex-end;
padding: 1.5rem 3rem;
width: 100;
        
}

table{
    width: 100%;
}

 th, td{
    padding: 1rem 1.5rem;
    text-align: center;
    
}



table td {
    text-align: center;
}

.T-header h2 {
    text-align: ri;
}



/*GRIDS*/
.container {
    display: grid;
    grid-template-columns: 4% 1fr; /* Sidebar takes 20% and main content takes 80% */
    height: 100%;
    max-width: 100%;
    background-color: var(--bg-color);
    
  }

  .main-content{
    display: flex;
    flex-direction: column;
    padding: 0.6rem 2rem;
    width: 100%;
  }

  .small-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  width: 100%;
  margin-top: 7px;
  }

  .lower-container{
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .first-container{
    height: 100%;
  }
.second-container{
    height: 100%;
    margin-left: 15px;
}

.task-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.recent-project-container{
    margin-top: 15px;
    height: 275px;

}

.recent-project-container .card{
    width: 100%;
    height: 100%;
}

.project-container{
    display: flex;
    flex-direction: column;
}
.project-container .card{
    margin-top: 15px;
}

.active-project-container{
    margin-top: 15px;
}
@media screen and (max-width: 1420px){
    .container{
        display: grid;
    }
     .lower-container{
        grid-template-columns: 60%  40%;
    } 
    .task-container{
        display: flex;
        flex-direction: column;
    } 
    .side-bar-container{
        display: none;
    }
    .main-content{
        width: 100vw;
    }
    .task-container .in-progress-task{
        margin-top: 15px;
    }
    .recent-project-container {
        grid-column: span 2;
        width: 100vw;
        padding: 0 3.8rem 0 0;
        
    }
}


   