
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --primary-color :#000000;
    --secondary-color : #888E98;
    --light-color : #9FA0B5;
    --icon-primary : #424957;
    --icon-wrapperdark :#606872;
    --icon-wrapperlight: #E7EBF0;
    --icon-dark : #1E2732;
    --green-container : #28A745;
    --red-container : #FF3D3D;
    --sidebar-light : #0D1216;

}

.darkMode{
    --bg-color : #131415;
    --primary-color : #fff;
    --secondary-color : #585A5B;
    --light-color : #fff;
    --icon-primary : #fff;
    --icon-dark : #fff;
    --icon-wrapperdark : #282A2D;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
    display: flex;
    background-color: var(--bg-color);
}

h1,h2,h3{
    color: var(--primary-color);
}

h1{
    font-size:2.986rem;
}

h2{
    font-size: 2.488rem;
}

h3{
    font-size: 2rem;
}

.increment{
    color: var(--green-container);
}

.decrement {
    color: var(--red-container);
}

/*CONTAINERS*/
.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: #fff;
}

.greenContainer{
background-color: var(--green-container);
}

.redcontainer{
    background-color: var(--red-container);
}
.lightcontainer{
  background-color: var(--icon-wrapperlight) ;
}
.icon{
    width: 25px;
    height: 25px;
    fill: #000;
}

.iconwrapper{
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
padding: 1.5rem;
}
.iconwrapper--dark{
    background-color: var(--icon-wrapperdark);
}
.iconwrapper--light{
    background-color: var(--icon-wrapperlight);
}
/*CARDS*/

.card{
    border: 3px solid var(--icon-wrapperlight);
    box-shadow: 0 0 20px 10px #f3f3f3;
    border-radius: 25px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
}
.card--small{
    width: 16%;
    display: flex;
    justify-content: space-between;
}
.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1.05);
}
.heading{
    margin-bottom: 20px;
    margin-top: 10px;
    text-wrap: nowrap;
}
.details{
    display: flex;
    justify-content: center;
}
#noofopentasks, .noofcloedtasks{
    margin-top: 0;
   

}
.minicard--i{
    width: 50%;
}

.minicard--i .icon{
    width: 40px;
}

.minicard--ii .icon{
    width: 50px;
    height: 50px;
}
.minicard--ii{
    display: flex;
    align-items: center;
}
.minicard--ii .iconwrapper{
    border-radius: 10px;
}
.inline-container{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.inline-container p{
    font-size: 1.5rem;
}
.arrow--up{
    width: 10px;
    height: 10px;
    font-weight: bold;
    fill: var(--green-container);
    margin-bottom: 17px;
}
#taskprcentage, #closedtaskprcentage{
    color: var(--green-container);
    margin-top: 0;
    margin-bottom: 17px;
   
}
#unitoftime{
margin-right: 38px; 
margin-left: 0;   
font-weight: 500;
}
.time-container{
    margin-right: 30px;
}
.timedetails{
    margin: 5px 2px 21px 0;
   
}

.minicard--ii .close{
    width: 40px;
}


/*MEDIUM CARDS*/

.headingcontainer{
    display: flex;
    border-bottom: 1px solid var(--icon-wrapperlight);
}
.headingcontainer .inline-container{
    margin-left: 60px;
}
.headingcontainer .heading{
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 20px;
}
.inline-container .circleicon{
    margin: 20px 5px 20px 30px;
    width: 15px;
}

.starbucks, .photoshop{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}
.photoshop{
    border: 2px solid #3FC3FF;

    border-radius: 50px;
}
.card--medium{
    display: flex;
    flex-direction: column;
}

.to-do-detail{
    display: flex;
}
.to-do-subject, .ongoing-task-subject{
    font-weight: 600;
    margin-bottom: 0;
}
.to-do-date .ongoing-task-date{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}

.progress-bar{
    height: 3px;
    border-radius: 25px;
    margin: 10px 0 0 7px;
}
.green-progressBar{
    background-color: var(--green-container);
}
.red-progressBar{
    background-color: var(--red-container);
}
.to-do-progressbar{
width: 40%;
}
.taskprogressbar{
    width: 15%;
}


.progresspercentage{
    display: flex;
    justify-content: space-between;
}

.tag{
    margin-left: 7px;
}

.to-do-percentage{
    margin-right: 20px;
}

/*AVATARS*/
.avatarcontainer{
margin-left: 7px;
position: relative;
}
.pfp{
    width: 30px;
}
.avatar--ii{
 position: absolute;
 left: 8px;

}

.avatar--iii{
    position: absolute;
    left: 20px;
}

.avatar--iv{
    position: absolute;
    left: 27px;
}

.avatarcontainer .circleicon{
    margin-left: 40px;
}

/*PROJECT CARDS*/

.heading-container{
    display: flex;
}
.heading-container .inline-container{
    margin-left: 210px;
}
.heading-container .icon{
    width: 15px;
    margin-right: 7px;
}

.web-application-progressbar{
    width: 50%;

}

.Logo-design-progressbar{
    width: 20%;
    background-color: var(--green-container);
}
.web-application-progresspercentage{
    display: flex;
}

.web-application-progresspercentage .web-application-progressbar{
    margin: 24px 0 0 15px;
}

.web-application-progresspercentage .Logo-design-progressbar{
    margin: 24px 0 0 15px;
}


.web-application-progresspercentage .web-application-percentage{
    margin-left: auto;
    margin-right: 15px;
}

.project-status{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-status .lightcontainer{
    color: var(--light-color);
}
.project--name{
    margin-bottom: 10px;
    margin-left: 7px;
}
.update--date{
    margin-top: 0;
    margin-left: 7px;
}

.profilephoto{
    width: 20px;
}

.project-status{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.avatar--container{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;


}

    .pfp--ii{
        position: absolute;
        left: 7px;
    }

    .pfp--iii{
        position: absolute;
        left: 15px;
    }
    .pfp--iv{
        position: absolute;
        left: 25px;
    }


    .dateElement{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }

    .dateElement p{
        font-weight: 600;
        font-size: 1.7rem;
    }