
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --primary-color :#000000;
    --secondary-color : #888E98;
    --icon-primary : #424957;
    --icon-wrapperdark :#606872;
    --icon-wrapperlight: #E7EBF0;
    --icon-dark : #1E2732;
    --green-container : #28A745;
    --red-container : #FF3D3D;
    --sidebar-light : #0D1216;

}

.darkmode{
    --bg-color : #131415;
    --primary-color : #fff;
    --secondary-color : #585A5B;
    --icon-primary : #fff;
    --icon-dark : #fff;
    --icon-wrapperdark : #282A2D;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
}

h1,h2,h3{
    color: var(--primary-color);
}

h1{
    font-size:2.986rem;
}

h2{
    font-size: 2.488rem;
}

h3{
    font-size: 2rem;
}

.increment{
    color: var(--green-container);
}

.decrement {
    color: var(--red-container);
}

/*CONTAINERS*/
.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: #fff;
}

.greenContainer{
background-color: var(--green-container);
}

.redcontainer{
    background-color: var(--red-container);
}

.icon{
    width: 25px;
    height: 25px;
    fill: #000;
}

.iconwrapper{
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: 5px;
padding: 1.5rem;
}
.iconwrapper--dark{
    background-color: var(--icon-wrapperdark);
}
.iconwrapper--light{
    background-color: var(--icon-wrapperlight);
}
.card{
    border: 1px solid var(--icon-wrapperlight);
    box-shadow: 0 0 20px 10px #f3f3f3;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    width: 16%;
    height: 120px;
    transition: all ease 0.7s;
}
.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1.05);
}
.heading{
    margin-bottom: 20px;
    margin-top: 10px;
    text-wrap: nowrap;
}
.details{
    display: flex;
    justify-content: center;
}
#noofopentasks{
    margin-top: 0;
    margin-left: 10px;

}
.minicard--i{
    width: 50%;
}
.minicard--i .icon{
    width: 40px;
}
.inline-container{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.arrow--up{
    width: 20px;
    height: 15px;
    font-weight: bold;
    fill: var(--green-container);
    margin-bottom: 17px;
}
#taskprcentage{
    color: var(--green-container);
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 2rem;
}
.minicard--ii .icon{
    width: 50px;
    height: 50px;
}
.minicard--ii{
    display: flex;
    align-items: center;
}
.minicard--ii .iconwrapper{
    border-radius: 10px;
}