
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --box-shadow :  0 0 20px 10px #f3f3f3;
    --card-color : #fff;
    --primary-color: #000000;
    --icon-light : #000;
    --icon-wrapper-light: #E7EBF0;
    --bg-btn: #fff;
    --bg-role:#deebff;
    --login-btn: #0e7efb;



}

.darkMode{
    --bg-color : #090d19;
    --box-shadow : none;
    --card-color : #161c2c;
    --primary-color: #fff;
    --icon-light : #fff;
    --icon-wrapper-light : #DD4D8;
    --bg-btn: #2a3749;
    --bg-role: transparent;

}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    transition: all 0.3s ease, color 0.3s ease;
    font-family: "inter", sans-serif;
    color: var(--primary-color);
    opacity: 1;


}

.container{
    height: 100vh;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
    display: flex;
    width: 100%;
    flex-direction: column;

}

/*styling elements in the header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1rem;
}
.header .logo{
    width: 90px;
    height: 85px;
}
.icon{
    width: 55px;
    height: 45px;
    fill: var(--icon-light);
    transition: transform 0.3s ease;
}

/*form styling */

.login-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 1rem;
    height: 100vh;
    width: 100%;
}


 .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-illustration{
    width: 650px;
    height: 800px;
}

form{
    background-color: var(--card-color);
    width: 400px;
    border: 2px solid var(--icon-wrapper-light);
    border-radius: 10px;
    padding: 3rem 1rem;
    margin-top: 50px;


}
  
  
.heading{
    text-align: center;
}
.role-selector{
    background-color:var(--bg-role) ;
    display: flex;
    padding: 0.2rem;
    border-radius: 5px;
    margin-top: 30px;

}
.role-btn{
    background: transparent;
    border: none;
    font-size: 1rem;
    flex-grow: 1;
    color: var(--primary-color);
    transition: all 0.7s ease;
}
.role-btn.selected{
    background-color: var(--bg-btn) ;
    height: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    text-align: center;
}

.input-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

.input-container{
    margin-top: 30px;
    display: flex;
    padding: 0.3rem;
}

.input-field{
    flex-grow: 1;
    outline: 0;
    border: none;
    background: transparent;
}
.input-field::placeholder {
    color: var(--primary-color);
  }
  

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 1rem;
  }
  
  .options a {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .options a:hover {
    text-decoration: underline;
  }

  .login-button{
    width: 100%;
    margin-top: 30px;
    background-color: var(--login-btn);
    border: none;
    border-radius: 2px;
    padding: 0.6rem;
    color: #fff;
    font-weight: bold;
  }

  /*media query*/
@media screen and (max-width:1195px){
    .login-details{
       justify-content: center;
       align-items: center;
    }
    .img-container{
       display: none;
    }
    
   
   }
   @media screen and (max-width:768px){
   
   }
   
   @media (max-width: 567px){
       .login-details {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 2rem 1rem;
       }
     
       .form-container {
         width: 100%;
         max-width: 400px;
         padding: 0 1rem;
         display: flex;
         justify-content: center;
       }
     
       form {
         width: 100%;
         max-width: 400px;
         margin: 0 auto;
       }
       h1{font-size: 1.2rem;
       }
   
       .input-icon{
           width: 15px;
           height: 15px;
       }
       .options{
        font-size: 0.75rem;
       }
       .icon{
        width: 35px;
        height: 35px;
        margin-top: 20px;
       }
     }

     .fade-out {
        opacity: 0;
        transition: opacity 0.5s ease-out;
      }
      
  