@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --primary-color :#000000;
    --secondary-color : #888E98;
    --light-color : #9FA0B5;
    --icon-primary : #424957;
    --icon-sidebar : #606A79;
    --icon-wrapperdark :#606872;
    --icon-wrapperlight: #E7EBF0;
    --icon-dark : #1E2732;
    --green-container : #28A745;
    --red-container : #FF3D3D;
    --sidebar-light : #0D1216;

}


*, *::before, *::after{
    box-sizing: border-box;
}

/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
    display: flex;
}

h1,h2,h3{
    color: var(--primary-color);
}

.card{
    border: 3px solid var(--icon-wrapperlight);
    box-shadow: var(--box-shadow);
    border-radius: 25px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
    background-color: var(--card-color);
}

.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1.05);
}

.card--medium{
    display: flex;
    flex-direction: column;
}

.circleicon{
    width: 35px;
    height: 20px;

    margin-left: 22px;
    margin-top: 8px;
}

.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: #fff;
}

.greenContainer{
background-color: var(--green-container);
}


.redcontainer{
    background-color: var(--red-container);
}
.lightcontainer{
  background-color: var(--icon-wrapperlight) ;
}

.card{
    border: 3px solid var(--icon-wrapperlight);
    box-shadow: 0 0 20px 10px #f3f3f3;
    border-radius: 25px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
}

.profilephoto{
    width: 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-header > div:nth-child(2){
    margin-left: 40px;
}
.card-header .icon{
    margin-top: 20px;
 
}

.card-content{
    display: flex;
}

.project-info{
    display: flex;
}

.content-projectName{
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 7px;
}

.content-avatarContainer{
    margin-left: 15px;
    position: relative;
}
.pfp--ii{
    position: absolute;
    left: 7px;
}

.pfp--iii{
    position: absolute;
    left: 15px;
}

.pfp--iv{
    position: absolute;
    left: 22px;
}
.content-avatarContainer .profilephoto{
    margin-top: 10px;
}



.companyLogo{
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
}
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.icon{
    width: 30px;
    height: 30px;
}

.side-barContainer--i{
    text-align: center;
}
.side-barContainer--i .icon{
    width: 70px;
    height: 30px;
    fill: var(--icon-sidebar);
    margin-bottom: 35px;
}



.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--sidebar-light);
    padding: 0.7rem 1rem;
    border-top-left-radius: 15px;
}

.side-bar .icon{
    width: 25px;
    height: 25px;
    fill: var(--icon-sidebar);

}


.log-outContainer{
    background-color: #FF3333;
    display: inline-flex;
    border-radius: 7px;
    padding: 1rem;
}

.log-outContainer .icon{
    fill: #fff;
}



/*TABLE*/

.T-header{
    display: flex;
    justify-content: flex-end;
}

 th, td{
    padding: 1.5rem;
}

