@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*COLOR PALLETTE */
:root{
    --bg-color : #fff;
    --primary-color :#000000;
    --secondary-color : #888E98;
    --light-color : #9FA0B5;
    --icon-primary : #424957;
    --icon-sidebar : #606A79;
    --icon-wrapper-dark :#606872;
    --icon-wrapper-light: #E7EBF0;
    --icon-dark : #1E2732;
    --green-container : #28A745;
    --red-container : #FF3D3D;
    --sidebar-light : #0D1216;

}


*, *::before, *::after{
    box-sizing: border-box;
}



/*TYPOGRAPHY*/

html{
    font-size: 62.5%; /**default HTML font size**/
}

body{
    font-size: 1.44rem;
    font-family: "Public Sans", sans-serif;
    display: flex;
}

h1,h2,h3{
    color: var(--primary-color);
}
.icon{
    width: 30px;
    height: 30px;
}


.card{
    border: 3px solid var(--icon-wrapper-light);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    padding: 1.4rem;
    transition: all ease 0.7s;
    cursor: pointer;
    background-color: var(--card-color);
}

.card:hover{
    box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    transform: scale(1.05);
}

.card--medium{
    display: flex;
    flex-direction: column;
}

.card--small{
    display: flex;
    justify-content: space-between;
}

.details{
    display: flex;
    justify-content: flex-start;
}
.miniCard--ii  .icon{
width: 70px;
height: 70px;
margin-top: 30px;
    margin-left: 40px;

}
.miniCard--ii{
    margin-left: 40px;
}
.circleIcon{
    width: 35px;
    height: 20px;

    margin-left: 22px;
    margin-top: 8px;
}

.wrapper{
    border-radius: 15px;
    font-weight: 500;
    padding: 0.7rem 2rem;
    color: #fff;
}

.greenContainer{
background-color: var(--green-container);
}


.red-container{
    background-color: var(--red-container);
}
.light-container{
  background-color: var(--icon-wrapper-light) ;
}


.headingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--border-bottom);
}
.headingContainer .inline-container{
 display: flex;
}
.headingContainer .heading{
    margin-right: 40px;
    margin-bottom: 0;
    margin-top: 20px;
    flex: 1;
}
.inline-container .circleIcon{
    margin: 20px 5px 20px 30px;
    width: 15px;
}

.inline-container p {
    margin-top: 22px;
    margin-bottom: 0;
    text-wrap: nowrap;
}
.starbucks, .photoShop, .project-icon{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}


.to-do-detail{
    display: flex;
}
.to-do-subject, .ongoing-task-subject{
    font-weight: 600;
    margin-bottom: 0;
}
.to-do-date .ongoing-task-date{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}


.progress-bar{
    height: 3px;
    border-radius: 25px;
    margin: 10px 0 0 7px;
}
.green-progressBar{
    background-color: var(--green-container);
}
.red-progressBar{
    background-color: var(--red-container);
}
.to-do-progressbar{
width: 40%;
}

.progress-percentage{
    display: flex;
    justify-content: space-between;
}


.avatarContainer{
width: 40%;
margin-left: 7px;
position: relative;
display: flex;
justify-content: space-between;
}

.pfp{
width: 30px;
height: 30px;
}

.avatar--ii{
    position: absolute;
    left: 7px;
}

.avatar--iii{
    position: absolute;
    left: 20px;
}

.avatar--iv{
    position: absolute;
    left: 35px;
}

.avatarContainer .circleIcon{
    width: 30px;
    height: 30px;
    margin-top: 0;
}